* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.imagen_fondo {
    background-image: url(./img/Diseño-sin-título.gif);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
        
}

.titulo img {
    display: inline-block;
    align-items: center;
    background-color: transparent;
    width: 150vh;
    margin-top: 150px;
}


.credits {
    display: flex;
    justify-content: center;
    position:inherit;
}

.credits img {
    align-items: center;
    background-color: transparent;
    width: 300px;
    margin-top: -30px;
    margin-bottom: 20px;
}

.boton_inicio {
    width: 200px;
    height: 200px;
    bottom: 0.1ch;
    left: 50%;
    opacity: 1;
    transform: translateX(-50%);
    transition: opacity 3.0 ease-in-out;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
}

.boton_inicio:hover {
    opacity: 0.5;
    filter: drop-shadow(5px 5px 5px #fff);
    transition: 1s;
}

.boton_inicio {
    animation-duration: 1s;
    animation-name: sombra;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes sombra{
    from{
        width: 200px;
        height: 200px;

    }
    to {
        width: 206px;
        height: 206px;
    }
}

.imagen_fondo2 {
    background-image: url(./img/fondo2.gif);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    
}

.seleccionar-personaje{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
     height: auto;
     margin: 0px;
}



.subtitulo {
    align-items: center;
    color: lightgray;
    font-size: 20px;
}

#contenedor-personajes{
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-left: 25vw;
    
}


.personajes{
    
     width: 100px;
     height: 50px;
     margin: 30px 80px;
     transition: all 300ms;

}

.personajes img {
    width: 40vh;
    height: auto;
    display: inline-block;
}

input{
    display: none;
}

.personajes img:hover{
    cursor: pointer;
    transform: scale(1.15);
}
@media screen {
    
}

.agua img{
    width: 15vh;
    height: auto;
    display: inline-block;
}
.fuego img{
    width: 20vh;
    height: auto;
    display: inline-block;
}
.granada img{
    width: 20vh;
    height: auto;
    display: inline-block;

}

#img-jugador.move-left {
    animation: moveLeftAnimation 0.5s ease;
    transform: translateX(-500px); /* Ajusta la cantidad de desplazamiento aquí */
}
  
@keyframes moveLeftAnimation {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-500px); /* Ajusta la cantidad de desplazamiento aquí */
    }
}
  
.contenedor-personajes--img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}
  
#img-jugador {
    width: 200px;
    height: auto;
    margin-right: 40%; /* Ajusta el valor del margen según tus necesidades */
}
  
#img-enemigo {
    width: 200px;
    height: auto;
    transform: scaleX(-1);
}
  